In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [11]:
nfl_frame = pd.read_clipboard()

In [12]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [13]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [15]:
nfl_frame['Season']

0    1,338
1      850
2     1921
3      768
4     1960
5     1950
Name: Season, dtype: object

In [16]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
5        San
Name: Team, dtype: object

In [17]:
nfl_frame[['Team', 'Season']]

      Team Season
0  Chicago  1,338
1   Dallas    850
2    Green   1921
3    Miami    768
4      New   1960
5      San   1950

In [18]:
DataFrame(nfl_frame, columns=['Team', 'Season'])

      Team Season
0  Chicago  1,338
1   Dallas    850
2    Green   1921
3    Miami    768
4      New   1960
5      San   1950

In [19]:
DataFrame(nfl_frame, columns=['Team', 'Season', 'Stadium'])

      Team Season  Stadium
0  Chicago  1,338      NaN
1   Dallas    850      NaN
2    Green   1921      NaN
3    Miami    768      NaN
4      New   1960      NaN
5      San   1950      NaN

In [20]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [21]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North

In [22]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [23]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [24]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [25]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [26]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(6)

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,4
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,5

In [29]:
stadiums = Series(["Levi's stadium", "AT&T Stadium"], index=[4,0])

In [30]:
stadiums

4    Levi's stadium
0      AT&T Stadium
dtype: object

In [31]:
nfl_frame['Stadium'] = stadiums

In [32]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,AT&T Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's stadium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,NaN

In [33]:
del nfl_frame['Stadium']

In [34]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West

In [35]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [36]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [37]:
city_frame = DataFrame(data)

In [38]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000